body {
    padding: 37px 0;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .headshot {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .caption {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .additional-info {
    font-size: 1.2em;
    margin-top: 20px;
  }
  
  .listen-link,
  .project-link,
  .invention-link {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  